/* UNIVERSAL 
---------------------------------------------- */
.cfdebug {
    display: none !important;
}

html{z-index: -1; height: 100%;}
body{margin: 0;background: #000000;font-family: 'klavika-web-condensed', Arial, Helvetica, sans-serif; font-weight: 300;overflow-x: hidden; height: 100%;}
#header{position: absolute;}
img{border: none;}
b{font-weight: 800;padding-right: 9px;}
a{text-decoration: none;}
a:hover {cursor: pointer;text-decoration: underline;}
p{color: white; font-size: 36px;}
h1{margin: 0; color: white; padding: 10px 0px; text-transform: uppercase;    font-family: "Tungsten A", "Tungsten B", Arial, sans-serif;  font-style: normal; font-size: 166px; font-weight: 500;}
h2{margin: 0;padding-top: 60px;font-size: 38px;color: #f50c15; 	font-family: "klavika-web-condensed", Arial, sans-serif; font-weight: 400; font-size: 74px; }
h3{font-family: "Tungsten A", "Tungsten B", Arial, sans-serif; font-size: 63px;color: white;margin: 0;padding: 0;}
h4{margin: 0;padding: 0;font-size: 34px;color: white;text-transform: uppercase;}
sup{font-size: 10px;vertical-align: super;}
.clearfix{clear: both}
.floatleft{float: left}
section,article,header,footer,nav,aside,hgroup,figure,figcaption {display: block;padding: 0;margin: 0;}
#mobile-hdr #header {display: none;}
#wrapper{width: 960px;margin: 0 auto;clear: both;}
#wrapped{background: transparent !important;}
.scrolling{position: relative!important;z-index: 1!important;-webkit-overflow-scrolling: touch;overflow-x: hidden; height: 100%;}
.container{margin: 0 auto;width: 960px;}
.bold{font-weight: 800;}
strong{color: #f50c15;}
em {font-family: "klavika-web-condensed",sans-serif; font-style: italic; font-weight: 400;}

/* CUSTOM 
---------------------------------------------- */
body.fortress-600 {background-image: url("../images/bg-texture-1.jpg"); background-position: center top; background-repeat: no-repeat; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; position: relative; height:100%;}
.frame img {display: block; position: absolute;}
.bg-img {position: absolute; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center top;
}
.btn { padding: 13px 4px; border: 3px solid #f50c15; font-family: "klavika-web", sans-serif; font-size: 18px; text-transform: uppercase; letter-spacing: 1px; line-height: 18px; width: 190px; display: block; margin: 30px auto 45px auto; transition: background 0.2s ease-in; -webkit-transition: background 0.2s ease-in-out; color: #ffffff; }
a{text-decoration: none !important;}
.btn img{position: relative;display: inline-block; vertical-align: text-top; width: 18px; height: 18px; margin-right: 11px;}
.btn:hover{background:#f50c15; color: #ffffff; text-decoration: none !important;}
.mobile {display:none !important;}
#form-wrap input[type=text]:focus {
   border: 1px solid #f50c15;
   outline: none;
}
textarea, input {
   outline: none;
}
#ferror {color: #ed1c24; padding-bottom: 10px}

/* SOCIAL 
---------------------------------------------- */
.social{
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative;
    z-index: 20;
}
.social p{
    text-align: center;
    color: #949494;
    font-size: 12px;
    margin-bottom: 10px;
}
.social .links{
    display: block;
    width: 120px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.social .links a{
    display: inline-block !important;
    width: 30%;
    float: left;
}
.social .links a:nth-child(2){
    padding:0% 5%;
}
.social .links a img{
	position: relative !important; transition: background 0.25s ease-in-out;
}
.social .links a img:hover{
	background: #f50c15;
}
.social .container{ 
	    width: 100%;
}

/* HEADER
---------------------------------------------- */

#wrapped, #main {
	width: 100%;
}
#main{ 
	height: 100%;
	position: relative;
}
.frame-1 {
	width: 1400px; 
	margin: 0 auto;
	height: 1200px;
}
.frame-2 {
	width: 100%; 
	position: relative;
/* 	height: 1200px; */
}
#smoke-1{
	top: 0%;
    left: 0%;
    width: 100vw;
    height: 83vw;
	background-image: url("../images/smoke-screen-1_.png");
}
#smoke-2{ 
	top: 0%;
    right: 0%;
    width: 100vw;
    height: 93vw;
	background-image: url("../images/smoke-screen-2.png");	
}
#smoke-3{ 
	width: 1100px;
	left: 0;
	right: 0;
	top: -350px;
	margin: auto;
}
#smoke-4{ 
    width: 100%;
    height: 93vw;
    bottom: -82px;
    background-position: center bottom;
	background-image: url("../images/smoke-screen-4.png");	
}
#text-box-1{ 
	position: relative;
	width: 800px; 
	top: 200px; 
	float: right; 
	text-align: center;
	z-index: 20;
}
#text-box-1 h1{ 
    padding-bottom: 0;
}
#text-box-1 h2{
	font-style: italic;
	padding-top: 0;
	text-transform: uppercase;
	letter-spacing: 5px;
}
#text-box-1 p em{
	font-size: 28px; 
	text-transform: uppercase;
	letter-spacing: 3px;
}
#text-box-1 p { 
	padding-top: 100px;
	color: #f50c15; 
}
#athlete-id{ 
	position: relative; 
	top: 875px;
	z-index: 2;
}
#athlete-id p{
	font-family: "klavika-web", sans-serif;
	font-size: 16px;
	letter-spacing: 3px;
	color: #666666;
	line-height: 18px;
	font-weight: 300;
}
#text-box-2 { 
	position: relative;
    width: 900px;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}
#text-box-2 h3 {
    font-weight: 400;
    text-transform: uppercase;
    line-height: 78px;
    letter-spacing: 2px;
    font-size: 63px;
}
#text-box-2 .callout{
	margin: 70px 0;
}
#text-box-2 h3 strong{
	font-weight: 600;
}
#text-box-2 .border-img{ 
	position: relative;
	height: 8px;
	width: 450px;
	margin: 0 auto;
}
#text-box-2 h4{ 
	font-size: 44px;
	letter-spacing: 2px;
	padding: 25px 0;
}
#text-box-2 p{
	letter-spacing: 2px;
	line-height: 46px; 
}
#text-lockup{ 
	position: relative;
	margin: 0 auto;
}
#cta-animation{ 
	width: 250px;
    margin: 180px auto 0 auto;
        -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.disclaimer{ 
	font-size: 24px;
	font-weight: 300;
	font-style: italic;
}
#social-callout{
    width: 685px;
    margin: 0 auto 5px auto;
    letter-spacing: 1px;
}
#social-callout strong.mobile-emphasis {
	font-weight: 300;
}
#social-callout strong{
	color: #ffffff;
	font-weight: 500;
	letter-spacing: 0;
}
.social-media{
	margin: 60px auto 52px auto;
	width: 150px; 
}
.social-media img{ 
	width: 28px;
	position: relative;
	display: inline-block;
}
.social-media img:nth-child(2){
	margin: 0 5px; 
}

/* FORM-WRAP
---------------------------------------------- */
#smoke-3{z-index: 0;}
#week2-image{position:relative; z-index:0; top: -140px; width: 680px; margin: 0 auto;}
#form-wrap{width:1024px; text-align:center; margin: -250px auto 100px auto; z-index: 10; position: relative;}
#form-wrap h4{font-size: 44px; margin-bottom: 40px; letter-spacing: 2px;}
#form-wrap strong{font-weight: 600;}
#form-wrap p{width:780px;font-size:36px;line-height: 46px; margin: 0 auto;letter-spacing:1px;}
#form-wrap p strong{color:#ffffff; letter-spacing: 2px; font-weight: 600;}
#form-wrap p.red{color:#f50c15;margin-bottom: 40px;}
#form-wrap h2{margin-bottom:55px; color:#fff;font-family:"Tungsten A", "Tungsten B", sans-serif; font-weight:400; font-size:50px; letter-spacing: 2px;}
#form-wrap .grid{width:530px; margin:0 auto 55px auto;}
#form-wrap .col-2{width:49%;display:inline-block;}
#form-wrap .col-2 input{width:215px;margin-bottom:20px; padding:10px 12px;background-color:#262626; border: 1px solid #3e3e3e;color:#868686; text-transform:uppercase; font-size:16px;}
#form-wrap .grid .col-2:first-child input{margin-right:10px;}
#form-wrap .grid .col-2:last-child input{margin-left:10px;}
#form-wrap input[name=submit], a.btn-red{background-color: transparent;padding: 16px 45px; color:#fff; border:3px solid #fc0c15; font-family:'klavika-web', Arial, Helvetica, sans-serif; font-weight:300; font-size:20px; letter-spacing: 2px; transition:background-color 0.5s ease-in-out, color 0.5s ease-in-out;cursor:pointer;text-transform: uppercase;}
#form-wrap input[name=submit]:hover, a.btn-red:hover{background-color:#fc0c15;color:#000000;}

/* MEDIA QUERIES 
---------------------------------------------- */

@media only screen and (min-width: 1480px){
	#smoke-2{
		top: -6%;		
	}
}
@media only screen and (min-width: 1800px){
	#smoke-2{
		top: -14%;		
	}
}
@media only screen and (min-width: 2100px){
	#smoke-2{
		top: -28%;		
	}
}
@media only screen and (max-width: 1430px){
	#text-box-1 h1{ 
		font-size: 155px;
	}
	#athlete-id{
		top: 930px;
		margin-left: 1.5%;
	}
}
@media only screen and (max-width: 1400px){ 
	.frame-1,
	.frame-2{ 
		width: 100%;
	}
	.sloane, 
	.lax-head{ 
		width: 110%; 
		top: 25px;
		left: -8%; 
		right: 0;
		margin: 0 auto;
	}
	#text-box-2{
		width: 900px;
	}
	.frame-2 {
		margin-top: -2%;
	}
}
@media only screen and (max-width: 1300px){ 
	#text-box-1{ 
		width: 700px;
		left: -2%;
	}
	#text-box-1 h1{ 
		font-size: 145px;
	}
	.frame-2 {
		margin-top: -6%;
	}
}
@media only screen and (max-width: 1200px){ 
	#text-box-1{ 
		left: 0;
	}	
 	.frame-2 {	
		margin-top: -4%;
	}
	#smoke-3{ 
		width: 1000px;
		top: -450px;
	}
}
@media only screen and (max-width: 1180px){ 
	.lax-head{
		left: -9.5%;	
	}
	#text-box-1 h1{ 
		font-size: 135px;
	}
	#text-box-1{ 
		width: 700px;
	}
 	.frame-2 {
		margin-top: -10%;
	}

}
@media only screen and (max-width: 1100px){ 	
	#text-box-1{ 
		width: 700px;
		left: 2%;
	}
	#text-box-1 h1{ 
		font-size: 128px;
	}
	#text-box-1 h2{ 
		font-size: 65px;
	}
}
@media only screen and (max-width: 1024px){ 
	#smoke-4{ bottom: -150px;}
	.mobile-hide{display:none !important;}
	.mobile{display:block !important;}
	.frame-1{
		height: 1550px;
	}
	.frame-2{ 
		z-index: 10;
	}
	#smoke-1{
		top: 5%;
	}
	#text-box-1{
		left:auto;
		float: none; 
		margin: 0 auto;
	}
	#text-box-1 p{
		padding-top: 50px;
	}
	#athlete-id{
		top: 700px;
		margin-left: 7.5%;
	}
	.sloane{
		width: 800px;
		top: 675px;
		left: 0; 
		right: 0;
		z-index: 1;
	}
	#smoke-3{ 
		width: 125%;
		top: -150px;
		left: -13.5%;
		right: auto;
		margin: 0;
	}
	.lax-head {
   	 	width: 100%;
   	 	left: 0;
   	}
	#smoke-2{ 
		top: 33%;
		z-index: 0;
	}
	#form-wrap{width:100%;}
	.social{padding-bottom: 50px;}
}
@media only screen and (max-width: 900px){ 
	.mobile{
		display: block;
	}
	#text-box-2 h3 br, #text-box-2 h3 span{
		line-height: 0;
	}
	p span.mobile {
		line-height: 0;
	}
	#text-box-2{ 
		width: 94%;
		margin: 0 auto;
	}
	#text-box-2 h3{ 
	    font-weight: 400;
	    text-transform: uppercase;
	    line-height: 66px;
	    letter-spacing: 2px;
	    font-size: 60px;
	}	
	.sloane{
		width: 800px;
		top: 700px;
	}
	#athlete-id{
		top: 720px;
		margin-left: 7.5%;
	}
}
@media only screen and (min-width: 856px){ 
	#text-box-2 h3 span.mobile{ 
		display: none !important;
	}
}
@media only screen and (max-width: 855px){ 
	#text-box-2 h3 span.mobile{ 
		display: block;
	}	
	#form-wrap p{ 
		width: 560px;
		font-size: 27px;
	}
}
@media only screen and (max-width: 768px){ 

	.frame-1{
    	height: 1500px;	
    }
	.frame-2 {
	    margin-top: -100px;
	}
    #athlete-id{
	    top: 650px;
    }
	#social-callout, #social-callout + p{ 
		width: 500px;
		margin: 0 auto;
	}	
	#social-callout strong.mobile-emphasis {
		font-weight: 400;
		color: #f50c15;
	}
	#social-callout + p{
		margin-top: 20px;
	}
	.btn {
		margin-bottom: 65px;
	}
	.disclaimer{
		width: 420px;
		margin: 0 auto;
		line-height: 42px;
	}
	.social-media{
		margin: 45px auto;
	}
	.sloane{
		width: 680px;
	}
	#smoke-3{ 
		width: 150%;	
		left: -25%;
	}
	#week2-image{
		width: 100%;
	}
	#form-wrap .grid{width:320px;}
	#form-wrap .grid .col-2{width:100%;}
	#form-wrap .grid .col-2:first-child input, #form-wrap .grid .col-2:last-child input{width:294px; margin-left: 0; margin-right:0;}
}
@media only screen and (max-width: 720px){ 
    #text-box-1{
	    width: 100%; 
	    top: 15%;
    }
}
@media only screen and (min-width: 681px){ 
	.callout span.mobile{ 
		display: none !important;
	}
}
@media only screen and (max-width: 680px){
	.callout h4 br, .callout h4 span{
		line-height: 5px;		
	}	
	.callout span.mobile{ 
		display: block;
	}
	.callout h4 strong{
		font-weight: 400;
	}
	.frame-1{
    	height: 1400px;	
    }
	.frame-2 {
	    margin-top: -250px;
	}
    #athlete-id{
	    top: 500px;

    }
    #athlete-id p{ 
	    font-size: 12px;
    }
     #text-lockup{
	    width: 390px;
    }	
	#text-box-1 p em {
	    font-size: 24px;
	}
    #text-box-1 h1 {
    	padding: 0;
    	font-size: 100px;
	}
	#text-box-1 h2 {
	    font-size: 53px;
	}
	#text-box-1 p {
	    padding-top: 35px;
	}	
	.sloane{ 
		width: 520px;
		top: 600px;
	}
	#smoke-3{ 
		top: -140px;
	}
	#form-wrap p{ 
		width: 90%;
	}
	#week2-image{ 
		top: -100px;
	}
	#form-wrap{
		margin-top: -200px;
	}
}
@media only screen and (max-width: 560px){ 
	.frame-1{
    	height: 1300px;	
    }	
	#social-callout, #social-callout + p{ 
		width: 360px;
	}
	.disclaimer{
		width: 360px;
	}
    #smoke-3{ 
	    top: -160px;
    }
	.frame-2 {
	    margin-top: -160px;
	}
    #athlete-id{
	    top: 500px;
    }

	#text-box-2 h3 {
    font-size: 45px;
    line-height: 59px;
	}
	#text-box-2 h4 {
		font-size: 38px; 
	}
	#text-box-2 .callout {
		margin: 50px 0;
	}
	#text-box-2 p {
		font-size: 26px;
		line-height: 34px;
	}
	#text-box-2 .border-img {
		width: 320px;
	}
	#disclaimer p { 
		font-size: 23px;
	}
}
@media only screen and (max-width: 520px){ 
    #text-lockup{
	    width: 300px;
    }	
	#text-box-1 p em {
	    font-size: 16px;
	}
	#text-box-1 h1 {
	    padding: 0;
	    font-size: 75px;
	}
	#text-box-1 h2 {
	    font-size: 28px;
	}

	.sloane{ 
		width: 100%;
		top: 440px;
	}	
	#athlete-id{
	    top: 395px;
    }
	.frame-1{
    	height: 975px;
    }
	.frame-2 {
	        margin-top: -120px;
	}    
	#form-wrap{
		width: 100%;
		margin-top: -100px;
	}
	#text-box-2{
		margin-top:80px;
	}
		#week2-image{ 
		top: -50px;
	}

}

@media only screen and (max-width: 420px){
	#social-callout, #social-callout + p{ 
		width: 100%;
	}
	.disclaimer{
		width: 100%;
	}	
	#form-wrap p{ 
		width: 92%;
	}
	#form-wrap h4{
		width: 260px;
		margin: 0 auto;
		padding-bottom: 40px;
	}
}




@media (max-width:380px){ 
	#text-box-2 h3 {
		font-size: 43px !important;
	}	
}

