@charset "utf-8"; /* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;background:transparent;margin:0;padding:0} body{line-height:1} ol,ul{list-style:none} blockquote,q{quotes:none} blockquote:before,blockquote:after,q:before,q:after{content:none} ins{text-decoration:none} del{text-decoration:line-through} table{border-collapse:collapse;border-spacing:0} a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0} .group:after{content:"";display:table;clear:both;} 

/* UNIVERSAL 
---------------------------------------------- */


* {box-sizing: border-box;}
html {width: 100%; overflow-x: hidden;}
body {background: #fff; font-family: 'Source Sans Pro', sans-serif; font-weight: 300; letter-spacing: 1px; width: 100%;}
a, a:hover {color: #ec040d; text-decoration: none; cursor: pointer; transition: all .25s ease;}
strong, b {font-weight: bold;}
em, i {font-style: italic;}
h1 {font-family: 'yrsa', serif; font-size: 58px; line-height: 1; margin-bottom: 30px;}
h1 span {color: #ec040d;}
h2 {font-size: 17px; font-weight: 600; text-transform: uppercase;}

input[type="text"] {width: 100%; border: 1px solid #c7c7c7; padding: 30px; font-size: 16px; font-weight: 700; text-transform: uppercase; margin-bottom: 30px; -webkit-appearance: none; -webkit-border-radius:0px; letter-spacing: 1px;}
input[type="submit"] {cursor: pointer; -webkit-appearance: none; -webkit-border-radius:0px; margin: 20px 0;}
textarea {width: 100%; border: 1px solid #c7c7c7; padding: 30px; font-size: 16px; font-weight: 700; margin-bottom: 30px; letter-spacing: 1px; -webkit-appearance: none; -webkit-border-radius: 0px; font-family: 'Source Sans Pro', sans-serif;}
input.error, textarea.error {color: #fff; background: #8a0606; position: relative;}
.error-msg {/* width: 300px; */padding-left: 30px; padding-bottom: 10px; font-size: 12px; font-weight: 700; color: #ec040d; text-align: left;margin: 0 auto;}
label{z-index: 10; position: absolute; border:none; float:left; font-size: 16px; font-weight: 700; text-transform: uppercase; padding: 30px; pointer-events: none;}
label span{color:#ec040d;}
.left {float: left;}
.right {float: right;}
.btn {display: inline-block; width: 280px; font-size: 16px; line-height: 1; font-weight: 400; text-align: center; border-radius: 13px !important; padding: 20px 0; color: #fff; background: #ec040d; border: 2px solid #ec040d;}
.btn:hover {color: #ec040d; background: transparent; border: 2px solid #ec040d;}
.btn-transparent {color: #ec040d; background: transparent; border: 2px solid #ec040d;}
.btn-transparent:hover {color: #fff; background: #ec040d; border: 2px solid #ec040d;}
.btn-white {color: #8c1311; background: #fff; border: 2px solid #fff;}
.btn-white:hover {color: #fff; background: transparent; border: 2px solid #fff;}
.btn-white-trans {color: #fff; background: transparent; border: 2px solid #fff;}
.btn-white-trans:hover {color: #8c1311; background: #fff; border: 2px solid #fff;}
.btn-black {color: #fff; background: #000; border: 2px solid #000;}
.btn-black:hover {color: #000; background: transparent; border: 2px solid #000;}
p {font-family: 'Source Sans Pro', sans-serif; font-weight: 300;}
textarea{resize:vertical;}
.mobile{display:none;}
.mobile-hide{display:block;}
.btn 
/* HEADER
---------------------------------------------- */
.header {display: block; z-index: 10000; position: relative; background: #ffffff;}
.header-top {width: 1260px; margin: 0 auto; padding: 16px 0; background: #ffffff;}
.header-top .logo {display: block; float: left;}
.nav-utility {float: right; font-size: 16px; font-weight: 600;}
.nav-utility li {display: inline-block; margin: 24px 10px;}
.nav-utility a {color: #151515; font-size: 15px; font-weight: 400;}
.nav-utility a:hover {color: #ec040d;}
.nav-utility .link-vehicles {color: #ec040d;}
.nav-utility .link-phone {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; color: #ec040d;}
.nav-utility .link-vehicles:hover, .nav-utility .link-phone:hover {color: #151515;}
.nav-main {background: rgba(13,12,12,1); text-align: center; font-size: 16px; overflow: hidden;}
.nav-main-int {width: 1260px; margin: 0 auto; position: relative; overflow: hidden;}
.nav-main .nav {display: inline-block; float: none; transition: all .05s ease;}
.nav-main li {display: inline-block; margin: 30px 20px;}
.nav-main a {color: #fff; font-size: 17px; font-weight:300; font-family: "Source Sans Pro", sans-serif;} 
.nav-main a:hover, .nav-main a.active {color: #ec040d;}
.nav-main .logo-sticky {position: absolute; left: 10px; top: -100px; opacity: 0; transition: all .3s ease;}
.nav-main .logo-sticky img {max-width: 100%; height: auto; transition: all .25s ease;}
.nav-main .nav-utility-sticky {float: right; position: absolute; right: 0; top: -100px; font-size: 16px; opacity: 0; transition: all .3s ease;}
.nav-main .nav-utility-sticky li {border-left: 1px solid #313131; padding: 30px 20px; margin: 0;}
.nav-main .nav-utility-sticky a .fa {color: #ec040d;}
.nav-main.sticky {position: fixed; background: rgba(13,12,12,0.9); width: 100%; left: 0; top: 0; font-size: 16px; z-index: 10000; border-top: 0;}
.nav-main.sticky .logo-sticky {top: 10px; opacity: 1;}
.nav-main.sticky .nav {float: right;}
.nav-main.sticky .nav-utility-sticky {top: 0; opacity: 1; position: relative;}
.header-mobile {display: none; background: #000;}
.header-mobile .wrap {padding: 20px 0;}
.header-mobile .logo {float: left; width: 322px; height: 65px;}
.header-mobile .logo img {width: 100%; height: auto;}
.header-mobile .mobile-nav-toggle {float: right; width: 65px; height: 65px; display: inline-block; background: url(../images/nav-mobile-toggle.png) no-repeat center center; background-size: cover;}

/* MOBILE MENU
---------------------------------------------- */
.mobile-nav {
  display: none;
  visibility: hidden;
  position: absolute;
  width: 100%;
  left: 100%;
  top: 0;
  opacity: 0;
  min-height: 100%;
  z-index: 999999;
  background: rgba(0,0,0,.9);
}
.mobile-nav .wrap {padding: 20px 0; text-align: center;}
.mobile-nav .mobile-nav-toggle {position: absolute; top: 24px; right: 24px; width: 70px; height: 70px; display: inline-block; background: url(../images/nav-mobile-close.png) no-repeat center center; background-size: cover;}
.mobile-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.mobile-nav ul > li {margin: 0; padding: 0; background: none;}
.mobile-nav ul > li > a {
	display: block;
	padding: 20px 22px;
	font-size: 22px;
	font-family: 'yrsa', serif;
	text-decoration: none;
	color: #fff;
}
.mobile-nav ul > li > a:hover {color: #fd0101;}
.mobile-nav ul > li.link-small > a {
	font-size: 20px;
	color: #fd0101;
}
.mobile-nav ul > li.link-small > a:hover {color: #fff;}

/* GENERAL
---------------------------------------------- */
.homepage-screen{ 
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+37,ffffff+100&1+0,0+73,0+85 */
background: -moz-linear-gradient(-85deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.49) 37%, rgba(255,255,255,0) 73%, rgba(255,255,255,0) 85%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-85deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.49) 37%,rgba(255,255,255,0) 73%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(165deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.49) 37%,rgba(255,255,255,0) 73%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

width: 100%; 
height: 810px; 
position: absolute;
z-index: 1; 
top: 0;
}
.wrap {width: 1060px; margin: 0 auto;}
.hdr-img img {width: 100%; height: auto;}
.hdr-img {width: 100%; height: 40vw; position: relative; z-index: 0;}
.shade.hdr-img:before{ 
	content: "";
	position: absolute; 
	bottom: 0; 
	width: 100%; 
	height: 40vw; 
	background-color: rgba(0,0,0, 0.65);
}
.angle.hdr-img:after{    
	content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 23vw;
    background-image: url("../images/header-angle.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.bg-img {
	background-repeat: no-repeat; 
	background-position: center bottom; 
	background-size: cover; 
	position: relative;
}
.page-content {
	position: relative;
}
.pricing .shade.hdr-img:before{
	 height: 36vw;
}
.pricing .hdr-img{
	height: 36vw; 
}
#bg-contact{ 
	height: 42vw;
	position: absolute;
}
#bg-contact:after{
	background-image:url("../images/header-angle-contact.svg");
}

.btn-links {text-align: center;}
.btn-links .btn {margin: 0 20px 20px 20px;}
.subtitle {font-size: 16px; font-weight: 700; text-transform: uppercase;}
.repeat-bg {background-image:url("../images/repeatable-bg1.png"); background-repeat: repeat;}
.intro p{margin-bottom: 30px;}
.push-footer{width:100%; height: 200px;}
.about-us .push-footer, .news-events .push-footer {height: 280px;}
.push-header{width: 100%; margin-top: 350px;}

/* HOME
---------------------------------------------- */
.home h2 {font-family: 'yrsa', serif; font-size: 44px; line-height: 1; margin-bottom: 24px; text-transform: none; font-weight: 500;}
.home h2 span {color: #ec040d;}
.home p {font-size: 20px; line-height: 1.5; font-weight: 300; margin-bottom: 40px;}
.home .btn {width: 230px;}
.slider-main .slide {width: 100%; height: 810px; background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative;}
.slider-main .slide .content {width: 980px; margin: 0 auto; padding-top: 120px;z-index: 2;position: relative;}
.slider-main .slide h1 {margin-bottom: 16px;}
.slider-main .slide p {width: 52%;}
.cycle-pager {text-align: center; width: 100%; z-index: 500; position: absolute; bottom: 20px; overflow: hidden;}
.cycle-pager span {font-size: 0; width: 45px; height: 4px; margin: 0 2px; background: #dadad6; display: inline-block; cursor: pointer;}
.cycle-pager span.cycle-pager-active {background: #f4f4f4;}
.cycle-pager > * {cursor: pointer;}
.cycle-prev, .cycle-next {position: absolute; top: 50%; width: 33px; height: 33px; z-index: 800; cursor: pointer;}
.cycle-prev {left: 45px; background: url("../images/slider-prev.png") no-repeat;}
.cycle-next {right: 45px; background: url("../images/slider-next.png") no-repeat;}
.cycle-prev:hover, .cycle-next:hover {opacity: .7;}
.home .facility {background: #fff; padding: 70px 0 200px 0; position: relative; overflow: hidden;}
.home .facility .content {width: 45%; position: relative; z-index: 11;}
.home .facility .content-int {padding-right: 50px;}
.home .facility .img {position: absolute; left: 40%; top: 80px; z-index: 10;}
.home .storage {background: #8a0606; background-color:rgb(138,6,6); text-align: center; color: #fff; position: relative; z-index: 5;}
/* .home .storage:before {content: ""; position: absolute; right: 0; top: -200px; display: block; width: 0; height: 0; border-style: solid; border-width: 0 0 200px 100vw; border-color: transparent transparent #8a0606 transparent;} 
.home .storage:after {content: ""; position: absolute; right: 0; bottom: -200px; display: block; width: 0; height: 0; border-style: solid; border-width: 200px 0 0 100vw; border-color: #8a0606 transparent transparent transparent;}
*/
.home .storage:before {content: ""; position: absolute; right: 0; top: -200px; display: block; width: 100%; height: 200px; background-image: url("../images/angle-up-red.svg"); background-position: bottom right; background-repeat: no-repeat; background-size:cover;}
.home .storage .btm-angle { position: absolute; right: 0; display: block; width: 100%; height: 11vw; background-image: url("../images/angle-down-red.svg"); background-position: top right; background-repeat: no-repeat; background-size:cover; margin-top: -2px;background-color: transparent; }

.home .storage .col {width: 31.333%; margin: 0 1%; float: left; height: 260px; padding: 0 5%; background-repeat: no-repeat; background-position: center bottom; background-size: contain;}
.home .storage h3 {font-size: 20px; text-transform: uppercase; margin-bottom: 10px; padding-top: 30px;}
.home .storage h5 {font-size: 17px; line-height: 1.6; width: 50%; margin: 0 auto 10px auto;}
.home .storage p {font-size: 17px; line-height: 1.6; margin-bottom: 10px;}
.home .storage .group {padding: 80px 0;}
.home .storage .group .access {background-image: url("../images/home-services-access.png");}
.home .storage .group .space {background-image: url("../images/home-services-space.png"); border-left: 1px solid #b41215; border-right: 1px solid #b41215;}
.home .storage .group .secure {background-image: url("../images/home-services-secure.png");}

.home .showroom {padding: 170px 0 320px 0; height: 600px; background: #fff; position: relative; /* overflow: hidden; */ }
.home .showroom h2 {color: #ec040d;}
.home .showroom .content {width: 45%; position: relative; z-index: 6;padding-top: 120px;}
.home .showroom .btn {width: 230px;}
.home .showroom .img {position: absolute; right: -800px; width: 930px; bottom: 0; z-index: 5; opacity: 0; transition: all .6s ease;}
.home .showroom .img.load {right: 0; opacity: 1;}
.home .sales {padding: 180px 0 340px 0; background: #fff; text-align: center; background: url(../images/home-sale.png) no-repeat center center; background-size: cover; color: #fff;}
.home .sales .content {width: 50%; margin: 0 auto; }

/* SERVICES & FEATURES
---------------------------------------------- */
.features .intro {line-height: 1.6; max-width: 750px; padding-bottom: 80px;}
.features .intro p {font-size: 20px;}
.features-grid {display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: top; -moz-align-items: top; -ms-align-items: top; align-items: top; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.features-grid .item {width: 30%; margin-bottom: 50px; line-height: 1.6; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: top; -moz-align-items: top; -ms-align-items: top; align-items: top; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between;}
.features-grid .item .icon {width: 70px; height: 70px; -webkit-box-flex: 0 0 auto; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; background-repeat: no-repeat; background-position: center center; border: 1px solid #dadada;}
.features-grid .item .desc {padding-left: 8%; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;}
.services {background-position: center top; background-repeat: no-repeat !important; background-size: cover;}
.showroom-bg.services{background-image: url("../images/showroom-bottom-img.png");}
.features-bg.services{background-image: url("../images/features-bottom-img.png");}
.services .wrap {display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: space-between; -moz-justify-content: space-between;-ms-justify-content: space-between; justify-content: space-between; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 320px 0;}
.services .col {width: 45%; color: #fff; line-height: 2;}
.services .col-left h1 {margin-bottom: 30px;}
.services .col-left p{font-size: 16px; margin-bottom: 50px;}
.services .col-right {background: rgba(191,15,21,.6); padding: 70px 80px;}
.services .col-right h2 {margin-bottom: 20px; padding-bottom: 10px; position: relative;}
.services .col-right h2:after {content: ""; position: absolute; bottom: 0; left: 0; height: 2px; width: 120px; background: #000;}
.services .col-right ul {font-size: 16px;}
.services .col-right ul li {background: url(../images/bullet.png) no-repeat left top 6px; padding-left: 30px; margin-bottom: 10px;}
.services .col-centered {width: 80%; margin: 0 auto; text-align: center; margin-top: 50px; }
.services .quote p{font-family: 'yrsa', serif; font-size: 33px; line-height: 46px; margin-bottom: 17px;}
.services .col-centered .btn{margin-top: 66px;}
.services .col.full-width {width: 60%; margin: 0 auto; text-align: center;}
.services .col.full-width a {margin-top:55px;}


/* SHOWROOM
---------------------------------------------- */

.page-content .intro{max-width: 680px; margin-bottom: 120px; font-size: 17px; line-height: 26.5px; margin-top: -100px; position: relative;}
.about-us .page-content .intro{margin-bottom: 90px;}
.page-content .intro h1{margin-bottom: 45px;}
.galleries .grid{padding-bottom: 50px; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: top; -moz-align-items: top; -ms-align-items: top; align-items: top; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.galleries{position: relative;}
.galleries .wrap{position: relative; z-index: 10;}
.galleries:after {content: ""; position: absolute; right: 0;display: block; width: 100%; height: 200px; background-image: url("../images/angle-up-white.svg"); background-position: bottom right; background-repeat: no-repeat; background-size:cover; top: 0; z-index: 0;}
.galleries .grid .item{color: #000000; background-color: #ffffff; width: 31.5%; margin-bottom: 50px; -webkit-align-items: top; -moz-align-items: top; -ms-align-items: top; align-items: top; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; cursor: pointer;}
.galleries .item img{width: 100%; vertical-align: bottom;}
.galleries .item .album-cover{width: 100%; line-height: 1; max-height: 276px; overflow-y: hidden;}
.galleries .item .album-title{width: 100%; padding: 5%;display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; -webkit-box-shadow: 0px 7px 17px -5px rgba(0,0,0,0.2); -moz-box-shadow: 0px 7px 17px -5px rgba(0,0,0,0.2); box-shadow: 0px 7px 17px -5px rgba(0,0,0,0.2); border-top: 3px solid #ec040d;}
.galleries .album-title p {width:75%; font-family: 'yrsa', serif; font-size: 28px;}
.galleries .album-title .icon {width: 28px; height: 28px; -webkit-box-flex: 0 0 auto; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; background-repeat: no-repeat; background-position: center center; background-image: url('../images/arrow-right-red.png');}
.showroom .features .intro{width: 100%; padding-top: 50px; padding-bottom: 60px; text-align: center; margin: 0 auto;}
.showroom .features-grid{padding-bottom: 50px;}


/* CONTACT US
---------------------------------------------- */
.contact-container {padding: 0 0 80px 0; position: relative; top: 270px; }
.bg-contact-mobile {display: none; opacity: 0;}
.contact {width: 930px; margin: 0 auto; background: #fff; -webkit-box-shadow: 0px 2px 20px 9px rgba(0,0,0,0.1); -moz-box-shadow: 0px 2px 20px 9px rgba(0,0,0,0.1); box-shadow: 0px 2px 20px 9px rgba(0,0,0,0.1); position: relative; z-index: 1; text-align: center;}
.contact-int {padding: 50px 12%;}
.contact h1 {color: #d2030b; font-size: 44px; margin-bottom: 10px;}
.contact .subtitle {margin-bottom: 20px;}
.contact-info {width: 520px; margin: 0 auto; padding: 30px 0; font-size: 17px; line-height: 1.6; letter-spacing: .5px; border-top: 1px solid #dedede;}
.contact-info .hours {padding-bottom: 24px;}
.contact-info .location {padding-bottom: 24px;}
.contact-info .col {float: left; width: 50%; text-align: left;}
.contact-info .col.left a {text-decoration: underline; display: inline-block; margin-top: 10px;}
.contact-info .col.left .fa {font-size: 10px; margin-left: 4px;}
.contact-info .col.right a {display: inline-block; margin-bottom: 10px;}
.contact-info .col.right .fa {margin-right: 4px;}
.contact-info .col.right img {vertical-align: middle;}
.contact-container .push-footer{height:300px;}

/* ABOUT US
---------------------------------------------- */
.about-us .page-content {padding-bottom: 10px;}
.sponsors .intro {margin-bottom: 100px; margin-top: 100px;}
.sponsors .intro h1 { text-align: center;}
.sponsors .grid {margin-bottom: 60px; margin-top: 100px; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: top; -moz-align-items: top; -ms-align-items: top; align-items: top; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.sponsors .grid .item {width: 22%;margin-bottom: 40px;}
.sponsors .grid .item img {width: 100%;}
.testimonials{padding-top: 100px; padding-bottom: 100px;}
.testimonials .intro h1 {text-align: center; font-size: 46px;}
.testimonials .intro .icon {width: 28px; height: 28px; margin: 0 auto; -webkit-box-flex: 0 0 auto; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; background-repeat: no-repeat; background-position: center center;}
.testimonials .quote{font-family: 'yrsa', serif; font-size: 26px; line-height: 35px; margin-bottom: 28px; text-align: center;}
.testimonials .slide .byline {text-align: center; color: #8a0606;text-transform: uppercase; line-height: 22px;}
.testimonials .slide .byline span{font-weight: bold;}
.testimonials .slide {width: 100%;}
.testimonials .slide .content {width: 80%;margin:0 auto;}
.slider-testimonials{margin: 35px auto 55px auto;}
.slider-testimonials .cycle-next { background: url(../images/testimonial-slider-next.png) no-repeat; background-position: right; }
.slider-testimonials .cycle-prev { background: url(../images/testimonial-slider-prev.png) no-repeat; background-position: left;}
.about-us .news .btn{margin-top: 60px;}

/* NEWS-EVENTS
---------------------------------------------- */
.news {margin-top: 100px;}
.news .intro{margin-bottom: 45px;}
.news .intro h1 {text-align: center; font-size: 36px; }
.news .article {display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: top; -moz-align-items: top; -ms-align-items: top; align-items: top; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; border-top: 3px solid #ec040d; }
.news .article .feature-image {width: 34%; }
.feature-image img {width: 100%;}
.news .feature-image img {vertical-align: top; max-height: 264px;}
.border-shadow { background: #fff; -webkit-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.1); -moz-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.1); box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.1); }
.news .content {width: 60%; padding-top: 35px; padding-right: 45px;}
/* .news .article {min-height: 275px;} */
.news .content h3 {font-family: 'yrsa', serif; font-size: 29px; margin-bottom: 17px;}
.news .content h5 {font-size: 17px; margin-bottom: 17px; color: #8a0606; text-transform: uppercase; font-family: 'Source Sans Pro'; font-weight: 600;}
.news .content p {line-height: 22px; margin-bottom: 17px; font-size: 17px;}
.news .content h6 {line-height: 22px; font-family: 'Source Sans Pro'; font-weight: 600;}
.news .cta {font-size: 13px; display: block; text-transform: uppercase; margin-top: 20px; margin-bottom: 35px; font-family: 'Source Sans Pro'; font-weight: 600;}
.news-events .news, .news-event .header-intro {position: relative; z-index: 1;}
.news-events .news {margin-top: 55px;}
.news-events .header-intro {text-align: center; color: #ffffff; position: relative; z-index: 10; margin-top: -35%;}
.news-events .hdr-img{height: 35vw !important;}
.news-events .header-intro{margin-top: -33%;}
.news-events .header-intro h1 {margin-bottom: 17px;}
.news-events .header-intro p{width: 44%; color: #ffffff; margin: 0 auto;line-height: 1.6; font-size: 17px;}
.news .articles:last-child {border-bottom: 3px solid #ec040d; margin-bottom: 75px;}
.news-events .news .feature-image img, .about-us .news .feature-image img {max-height: 300px;}
.news-events .news .feature-image, .about-us .news .feature-image {width: 37%;}
.news-events .news .content, .about-us .news .content {width: 57.5%;}
.for-sale .news .content {padding-top: 73px;}
/*
.for-sale .news h5 {margin-bottom: 20px;}

.news-events.for-sale .news .feature-image img {max-height: 264px;}
.news-events.for-sale .news .content {width: 60%;}
.for-sale .news .article .feature-image{width: 34%;}
*/

/* PRICING
---------------------------------------------- */
.pricing .header-intro {position: relative; z-index: 1;padding-top: 5.5%;}
.pricing .header-intro {text-align: center;}
.pricing .header-intro {color: #ffffff;}
.pricing .header-intro h1 {margin-bottom: 17px;}
.pricing .header-intro p {width: 44%; color: #ffffff; margin: 0 auto;line-height: 1.6; font-size: 17px;}
.pricing .member-fees h1, .pricing .benefits h1 {font-size: 38px; text-align: center; margin-bottom: 60px;}
.pricing .member-fees h6, .pricing .member-fees p {text-align: center;}
.pricing .member-fees h6 {font-size: 16px; font-weight: 600; margin-bottom: 16px; color: #5f0303;}
.pricing .member-fees p {font-size: 17px; font-weight: 600; margin-bottom: 30px; color: #ec040d;}
.pricing .member-fees, .pricing .benefits {margin-bottom: 75px;}

.pricing .benefits ul {list-style-image: url("../images/checkmark.png"); width: 38%; margin: 0 auto; margin-bottom: 55px;}
.pricing .benefits li {padding-left: 20px;margin-bottom: 17px; font-size: 16px; line-height: 27px;}
.pricing .benefits p {text-align: center; line-height: 27px; font-size: 17px;}
.pricing .btn-links {margin-bottom: 100px;}
.pricing .charges {padding-top: 117px; padding-bottom: 117px;}
.charges h1 {font-size: 38px; text-align: center; margin-bottom: 60px; width: 100%;}
.charges .item h6 {font-size: 16px; font-weight: 600; margin-bottom: 16px; color: #5f0303; text-transform: uppercase;}
.charges .item {margin-bottom: 40px;}
.charges .item p {font-size: 17px; font-weight: 300; line-height: 20px;}
.charges .item p span {font-weight: 500; color: #ec040d; }
.charges .wrap {display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: top; -moz-align-items: top; -ms-align-items: top; align-items: top; -webkit-justify-content: space-between; -moz-justify-content: space-between;-ms-justify-content: space-between; justify-content: space-between; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 66%;}
.charges .col {width: 45%;}
.pricing .additional-services {text-align: center; margin-top: 125px; margin-bottom: 70px;}
.additional-services .item {margin-bottom: 75px;}
.additional-services .item h4 {font-family: 'yrsa', serif; font-size: 29px; margin-bottom: 10px;}
.additional-services .item img {margin-bottom: 10px;}
.additional-services .item p {font-weight: 500; font-size: 17px; margin-bottom: 10px;}
.additional-services .item h6 {font-weight: 500; font-size: 17px;}
.additional-services .item a {text-decoration: underline;}
.pricing .push-footer {height: 150px;}

/* FOOTER
---------------------------------------------- */
.footer {background: #141515; color: #fff; position:relative;}
/* .footer:before {content: ""; position: absolute; left: 0; top: -200px; display: block; width: 0; height: 0; border-style: solid; border-width: 0 0 200px 100vw; border-color: transparent transparent #141515 transparent;} */
.footer:before {content: ""; position: absolute; right: 0; top: -200px; display: block; width: 100%; height: 200px; background-image: url("../images/angle-up-black.svg"); background-position: bottom right; background-repeat: no-repeat; background-size:cover;}
.footer .top {text-align: center; padding-bottom: 50px;}
.footer .columns {width: 840px; margin: 0 auto; padding-left: 110px; padding-bottom: 80px; font-size: 16px; line-height: 1.6;}
.footer .columns .col {float: left; width: 33.3333%;}
.footer .columns .col a {text-decoration: underline;}
.footer .columns .col a:hover {text-decoration: none;}
.footer .columns .col a.link-tel {text-decoration: none;}
.footer h4 {text-transform: uppercase; color: #ec040d; font-weight: 600; letter-spacing: 2px; margin-bottom: 10px;}
.footer p {margin-bottom: 10px;}
.footer a {color: #fff;}
.footer .btm {text-align: center; padding-bottom: 50px;}
.footer .social {text-align: center; padding-bottom: 30px;}
.footer .social li {display: inline-block; margin: 0 6px;}
.footer .social a {display: block; border: 2px solid #fff; font-size: 20px; border-radius: 50%;}
.footer .social .fa {transition: all .3s ease;}
.footer .social .fa-circle {color: #141515;}
.footer .social a:hover {background: #fff;}
.footer .social a:hover .fa {color: #141515;}
.footer .social a:hover .fa-circle {color: #fff;}
.footer .copyright {font-size: 13px; font-weight: 300;}

/* RESPONSIVE 
---------------------------------------------- */

@media (min-width: 1480px){
	.home .facility .img {left: 43%;}
	.pricing .push-header{margin-top: 18%;}
	
}
@media (min-width: 960px){ 
	.home .showroom .img { width: 800px; }
}
@media (min-width: 1280px){ 
	.home .showroom .img { width: 930px; }
}
@media (min-width: 1560px){
	.home .showroom .img { width: 1000px; }	
}
@media (min-width: 1640px){
	.home .facility .img {left: 45%;}
	.pricing .push-header{margin-top: 18%;}
} 
@media (min-width: 1800px){ 
	.home .facility {margin-top: 100px;}
	.home .storage:before {top: -300px; height: 300px;}
	.home .storage:after {height: 300px;}
/* 	.home .showroom {margin-top: 100px;} */
	.footer:before {top: -300px; height: 300px;}
	.home .sales {margin-bottom: 25px;}
	.pricing .push-header .btn-links:last-child {margin-bottom: 150px;}
	.push-header{margin-top: 450px;}
	.text-overlay.shade.hdr-img:before{height: 35vw;}
	.text-overlay.hdr-img{height: 35vw;}
	.hdr-img{height:35vw;}
	.page-content .intro{    margin-top: -50px;}

	.news-events .hdr-img{height: 35vw !important;}
	.services .wrap{padding: 370px 0;}
	.home .sales {padding:280px 0 440px 0;}
	#bg-contact {height: 37vw;}
}
@media (max-width: 1600px){ 
	#bg-contact{height: 48vw; background-image:url("../images/bg-contact-dsktp.png") !important;}
}
@media (max-width: 1480px){ 
	.home .facility .img {left: 41%;}
	.home .showroom .content {padding-top: 140px;}
	
}
@media (max-width: 1280px) {
	.header-top {width: 94%; margin: 0 3%;}
	.nav-main-int {width: 94%; margin: 0 3%}
	.charges .wrap {width: 80%; margin: 0 auto;}
	#bg-contact{height: 56vw;}
	
}

@media (max-width: 1180px) {
	.nav-main.sticky {font-size: 12px;}
	.nav-main.sticky .nav li {margin: 30px 10px;}
	.nav-main .nav-utility-sticky li {padding: 30px 10px; font-size: 12px;}
	.pricing .push-header{margin-top: 15%;}
	.text-overlay.shade.hdr-img:before{height: 40vw;}
	.text-overlay.hdr-img{height: 40vw;}
	.wrap {width: 90%; margin: 0 5%;}
	.page-content{margin-top:4%;}
	.home .showroom .content{padding-top:20px;}
}

@media (max-width: 1080px) {
	.slider-main .slide .content {width: 94%; margin: 0 3%;}
	.features-grid .item {width: 46%;}
	.pricing .header-intro p,
	.news-events .header-intro p{width: 65%;}
	.pricing .header-intro h1 {font-size: 50px;}
	.pricing .benefits ul {width: 43%;}
	.charges .wrap {width: 94%; margin: 0 auto;}
	.galleries .album-title p {font-size: 24px;}
	.home .storage h5 {width: 50%;}
	.push-footer {height: 230px;}
	
	.pricing .push-header{margin-top: 25%;}

	.page-content{margin-top:7%;}
	.home .sales {padding:250px 0 440px 0;}
}

@media (max-width: 960px) {
	.nav-main {font-size: 16px;}
	.nav-main .logo-sticky img {max-width: 80%; height: auto;}
	.nav-main.sticky, .nav-main .nav-utility-sticky li {font-size: 11px;}
	.home .showroom .content {width: 80%;}
	.home .showroom .img {position: absolute; width: 100%; height: auto; opacity: 1; right: 0; display: block;}
	.home .showroom {padding-bottom: 0;}
	.home .sales .content {width: 92%;}
	.contact-container {background: none; padding-top: 0;}
	#bg-contact{position:relative; height: 30vw; background-image:url("../images/bg-contact-mobile.png") !important;}
	#bg-contact:after{content: ""; background-image:none;}
	/*
.bg-contact-mobile {display: block; opacity: 1; width: 100%; height: auto;}
	#bg-contact{display: none;}
*/
	.contact-container {top:0;}
	.contact {width: 100%;}
	.contact-int {padding: 40px 4%;}
	.footer .columns {width: 100%; padding-left: 0; padding-bottom: 30px;}
	.footer .columns .col {width: 100%; float: none; text-align: center; padding-bottom: 20px;}
	.services .col-centered{width: 100%;}
	.pricing .benefits ul {width: 50%;}
	.slider-main .slide p {width: 60%;}
	.home .storage h5 {width: 60%;}
		.services .col.full-width {width: 75%;}
	.page-content{margin-top:10%;}
	.contact-container .push-footer{height:0px;}
	.home .showroom .content {padding-top: 0px; margin-top: -80px;}
}

@media (max-width: 880px) {
	.header {display: none;}
	.header-mobile {display: block;}
	.mobile-nav {visibility: visible;}
	.sponsors .grid {width: 90%; margin-left: auto; margin-right: auto;}
	.sponsors .grid .item {width: 46%; }
	.news-events .news {margin-top: 60px;}
	.galleries .album-title p {width:80%;}
	.slider-main .slide p {width: 70%;}
	.home .storage h5 {width: 70%;}
	.testimonials .slide .content {width: 72%;}
	.testimonials .quote {font-size: 24px;}
	.testimonials .byline {font-size: 16px;}
	.pricing .push-header {margin-top: 24%;}
}
@media (max-width: 820px){
	.text-overlay.shade.hdr-img:before{height: 48vw;}
	.text-overlay.hdr-img{height: 48vw;}
}
@media (max-width: 768px) {
	.home .facility .content {width: 100%;}
	.home .facility .img {position: relative; width: 100%; height: auto; top: 0; left: 7%; padding-top: 20px;}
	.home .storage .col {width: 100%; float: none; background-size: auto 127px; margin-bottom: 50px;}
	.home .storage .group {padding-bottom: 0;}
	.home .storage .group .space {border: none;}
	.services .wrap {padding: 220px 0 200px 0;}
	.services .col {width: 100%; padding-bottom: 40px;}
	.services .col-left {text-align: center;}
	.charges .col {width: 90%; margin-left: auto; margin-right: auto;}
	.pricing .benefits ul {width: 60%;} 
	.galleries .album-title p {width:60%;}
	.services .quote p {font-size: 28px; line-height: 36px;}
	.news .wrap {width: 80%; margin: 0 auto;}
	.news-events .header-intro h1 {width: 100%;}
	.news .article .feature-image {width: 100%;}
	.news .feature-image img {max-height: none;}
	.news .content {width: 100%; margin: 20px 20px 40px 20px; padding-top: 20px; padding-right: 0;}
	.for-sale .news .content {padding-top: 17px; padding-bottom: 17px;}
	.news-events .news .content, .about-us .news .content{width: 88.5%;}
	.news-events .news .feature-image img, .about-us .news .feature-image img {max-height: none;}
	.pricing .header-intro p,
	.news-events .header-intro p{width: 75%;}	
	.page-content{margin-top:15%;}
	#bg-contact{background-image:url("../images/bg-contact-sm.png") !important; height: 47vw;}
	
}

@media (max-width: 640px) {
	h1 {font-size: 48px;}
	.header-mobile .logo {width: 198px; height: 40px;}
	.header-mobile .mobile-nav-toggle {width: 40px; height: 40px;}
	.mobile-nav .mobile-nav-toggle {width: 40px; height: 40px; right: 16px;}
	.mobile-nav .mobile-logo {width: auto; height: 60px;}
	.mobile-nav ul > li > a {font-size: 26px; padding: 16px;}
	.mobile-nav ul > li.link-small > a {font-size: 26px;}
	.cycle-pager {display: none;}
	.cycle-prev {left: 20px;}
	.cycle-next {right: 20px;}
	.slider-main .slide {height: 640px;}
	.slider-main .slide .content {padding-top: 70px; width: 90%; margin: 0 5%; height: 640px;}
	.slider-main .slide .btn {position: absolute; bottom: 60px; left: 50%; margin-left: -100px;}
	.home h2 {font-size: 36px;}
	.home .facility {padding-bottom: 90px;}
	.home .storage .wrap {padding-top: 40px;}
	.home .showroom .content{width: 94%;margin-top:0;}
	.home .storage:before {top: -120px; height: 120px;}
	.home .storage:after {height: 120px;}
	.features .intro {width: 94%; margin: 0 3%;}
	.features-grid .item {width: 100%;}
	.contact-info {width: 100%;}
	.contact-info .col {float: none; width: 100%; text-align: center;}
	.contact-info .col.left {padding-bottom: 20px;}
	.footer:before {top: -120px; height: 120px;}
	.galleries .wrap {width: 50%; margin: 0 auto;}
	.galleries .grid .item {width: 100%;}
	.pricing .header-intro p,
	.news-events .header-intro p {width: 98%;}
	.pricing .header-intro h1 {font-size: 35px; margin-left: auto; margin-right: auto;}
	.pricing .member-fees h1, .pricing .benefits h1 {font-size: 35px;}
	.pricing .benefits ul {width: 65%; margin-left: auto; margin-right: auto;}
	.pricing .section-header {font-size: 32px; margin-top: 10px;}
	.additional-services .item h4 {font-size: 26px;}
	.pricing .charges {padding-top: 70px; padding-bottom: 70px;}
	.pricing .additional-services {margin-top: 100px;}
	.pricing .btn-links {margin-bottom: 75px;}
	.push-footer {height: 180px;}
	.pricing .push-header {margin-top: 37%;}
	.slider-main .slide p {width: 90%;}
	.home .storage h5 {width: 90%;}
	.news .wrap {width: 85%; margin-left: auto; margin-right: auto;}
	.testimonials .quote {font-size: 20px;}
	.about-us .cycle-prev {left: 0;}
	.about-us .cycle-next {right: 0;}
	.services .col.full-width {width: 90%;}
	.text-overlay.shade.hdr-img:before{height: 66vw;}
	.text-overlay.hdr-img{height: 66vw;}
	.pricing .header-intro{padding-top: 8%;}
	.hdr-img{height:60vw;}
	.page-content{margin-top:18%;}
	
	.mobile{display:block !important;}
	.mobile-hide{display:none !important;}
	
	.news-events .push-footer, .about-us .push-footer{height: 200px;}
	.news-events .header-intro{margin-top: -30%;}
	.home .sales {padding:250px 0 300px 0;}
		.slider-main .slide {height: 480px;}
	.slider-main .slide .content {padding-top: 40px; height: 480px;}
	.slider-main .slide p {width: 90%;}
	.home .showroom {padding-top: 100px; height: 500px;}
}
@media (max-width: 500px){ 
	.text-overlay. .header-intro{padding-top: 9.5%;}
	.text-overlay. .header-intro h1 {font-size: 35px; width: 65%; margin-left: auto; margin-right: auto;}

	.hdr-img{height:65vw;}
	
}
@media (max-width: 480px) {
	h1 {font-size: 38px;}
	.home-screen{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+33,ffffff+100&1+0,0+48,0+85 */
background: -moz-linear-gradient(-65deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.31) 33%, rgba(255,255,255,0) 48%, rgba(255,255,255,0) 85%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-65deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.31) 33%,rgba(255,255,255,0) 48%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(155deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.31) 33%,rgba(255,255,255,0) 48%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
	.testimonials .intro h1 {font-size: 35px;}

	.home .storage h5 {width: 90%;}
	.home p {font-size: 16px; line-height: 1.4; }
	.home .facility {padding-top: 40px; padding-bottom: 50px;}
	.home .storage:before {top: -70px; height: 70px;}
	.home .storage:after { height: 70px;}
	.footer:before {top: -120px; height: 120px;}
	.sponsors .grid {width: 100%; margin: 60px auto 30px auto;}
	.sponsors .grid .item{width: 47%; margin-bottom:30px;}
	.galleries .wrap {width: 65%;}

	.push-footer {height: 150px;}
	.text-overlay.shade.hdr-img:before{height: 85vw;}
	.text-overlay.hdr-img{height: 85vw;}
	.header-intro h1 {width: 75%;}
	.page-content{margin-top:26%;}
	.pricing .header-intro{padding-top: 10%;}
	.home .facility .img{padding-top: 35px;}
}

@media (max-width: 380px){ 
	.page-content{margin-top:37%;}
	.slider-main .slide .btn {margin-left: -110px;}	
}
@media (max-width: 320px){
	.slider-main .slide .btn { bottom: 95px;}
	.slider-main .slide {height: 440px;}
}