/* UNIVERSAL 
---------------------------------------------- */
html{z-index: -1;}
body{margin: 0;background: #171717;font-family: 'klavika-web', Arial, Helvetica, sans-serif;overflow-x: hidden;}
#header{position: absolute;}
img{border: none;}
b{font-weight: 800;padding-right: 9px;}
a{text-decoration: none;}
a:hover {cursor: pointer;text-decoration: underline;}
p{color: white;}
h1{margin: 0;padding: 0;font-size: 51.5px;color: white;padding: 10px 0px;text-transform: uppercase;}
h2{margin: 0;padding-top: 60px;font-size: 38px;color: #1c1c1c;}
h3{font-size: 41.58px;color: white;margin: 0;padding: 0;padding-bottom: 30px;}
h4{margin: 0;padding: 0;font-size: 34px;color: white;text-transform: uppercase;}
sup{font-size: 10px;vertical-align: super;}
.clearfix{clear: both}
.floatleft{float: left}
section,article,header,footer,nav,aside,hgroup,figure,figcaption {display: block;padding: 0;margin: 0;}
#mobile-hdr #header {display: none;}
#wrapper{width: 960px;margin: 0 auto;clear: both;}
#wrapped{background: transparent !important;}
.scrolling{position: relative!important;z-index: 1!important;-webkit-overflow-scrolling: touch;/* overflow-x: hidden; */}
.container{margin: 0 auto;width: 960px;}
.bold{font-weight: 800;}

/* UTILITIES 
---------------------------------------------- */
*{box-sizing: border-box;}
#form-wrap input[type=text]:focus {
   border: 1px solid #967b44;
   outline: none;
}
textarea, input {
   outline: none;
}
.struct{border: 1px dashed #eee;}
.cfdebug{display:none;}
.bg-img{ 
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.center-abs-horz{ 
	left: 0; 
	right: 0; 
	margin: 0 auto;
}
.center-abs-horz-vert{ 
	left: 0; 
	right: 0; 
	top: 0; 
	bottom: 0; 
	margin: 0 auto;
}
.mobile{display:none;}
.mobile-hide{display:block;}
.scrolling .container{
	width: 960px; 
    margin: 0 auto;
	padding: 0 10px;
}
.hover-effect1{transition: transform 0.5s ease-in-out;}
.hover-effect1:hover{transform:scale(1.12);transform-origin: center center;}

.hover-effect2{transition: transform 0.5s ease-in-out;}
.hover-effect2:hover{transform:scale(1.06);transform-origin: center center;}

.grid .col-3{width:33%;display:inline-block;}
.col-3 .wrap{width:270px; margin: 0 auto 45px auto;}
.grid .col-4{width:25%;float:left;}
.col-4 .wrap{width:160px; margin: 0 auto;}

/* SOCIAL MEDIA with ROUND BUTTONS */
.social{width:200px;margin:0 auto; padding: 40px 0;text-align:center;}
.social .icons, .social p{display:inline-block;vertical-align: middle;}
.social .icon{width: 24px; height: 24px;background-size: contain; background-repeat: no-repeat;background-position: center center;transition:background 0.25s ease-in-out;text-align: center;}
.social p{line-height: 24px;margin-right:12px; letter-spacing:1px; text-align: center;}
.social #tw-icon{background-image:url("../images/tw.png");}
.social #fb-icon{background-image:url("../images/fb.png");}
.social #email-icon{background-image:url("../images/email.png");}
.social #tw-icon:hover {background-image:url("../images/tw-hover.png");}
.social #fb-icon:hover{background-image:url("../images/fb-hover.png");}
.social #email-icon:hover{background-image:url("../images/email-hover.png");}
.social .icons a{width: 24px;height:24px;display:inline-block;margin: 0 3px;}
@media only screen and (max-width:600px){
	 .social p{display:block;margin-right:0;margin-bottom: 10px;}
	 .social {text-align: center;}
	
}
.preload{width:1px;height:1px;position:absolute;top:0;}
.preload img{width:100%;height:100%;position:relative;opacity:0;}
/* CYCLE CUSTOM PAGER */
.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; bottom: 10px; overflow: hidden;z-index: 300;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer;  margin: 0 5px;
}
.cycle-pager span.cycle-pager-active { color: #ff000e;}
.cycle-pager > * { cursor: pointer;}
#slide-nav-backdrop{
position:absolute;width:100%;height:100%;bottom:-1px;z-index:200;background-color:rgba(0,0,0,.01);
-webkit-box-shadow: inset 0px -55px 30px -40px rgba(0,0,0,0.6);
-moz-box-shadow: inset 0px -55px 30px -40px rgba(0,0,0,0.6);
box-shadow:  inset 0px -100px 120px -20px rgba(0,0,0,0.6);}
#cycle-slideshow-1{position:relative;}
#custom-cycle-pager{position: absolute;z-index:301;bottom:15px;width: 300px;margin: 0 auto;left:0; right:0;}
#custom-cycle-pager #next{float:right;}
#custom-cycle-pager #prev{float:left;}


::-webkit-input-placeholder {
   color: #454545;
}

:-moz-placeholder { /* Firefox 18- */
   color: #454545;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #454545;  
}

:-ms-input-placeholder {  
   color: #454545; 
}
/* STYLE GUIDE
---------------------------------------------- */
/* Tungsten Extra Light */
/* font-family:"Tungsten A", "Tungsten B", sans-serif; font-weight:200; */

/* Tungsten Book */
/* font-family:"Tungsten A", "Tungsten B", sans-serif; font-weight:400; */

/* Tungsten Medium */
/* font-family:"Tungsten A", "Tungsten B", sans-serif; font-weight:500; */

/* Tungsten Semibold*/
/* font-family:"Tungsten A", "Tungsten B", sans-serif; font-weight:600; */

/* Tungsten Bold */ 
/* font-family: "Tungsten A", "Tungsten B"; font-style: normal; font-weight: 700; */
.tungsten-bold{"Tungsten A", "Tungsten B"; font-style: normal; font-weight: 700;}

/* Times New Roman Bold */ 
/* font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; */

/* Klavika Regular */
/* font-family: "klavika-web",sans-serif; */

/* Klavika Condensed */ 
/* font-family:	"klavika-web-condensed",sans-serif; */

/* 
Surgeon Blue: #00baff 
Border Red: #b5121b  
Sign-up Red: #ff000e 
Form Field Gray: #d1d1d1 
Body Gray: #171717; 
Header Red: #f1020d;
*/
.signup-red{color:#ff000e;}


.episodes, .roster{-webkit-box-shadow: inset 0px -55px 30px -40px rgba(0,0,0,0.4);
-moz-box-shadow: inset 0px -55px 30px -40px rgba(0,0,0,0.4);
box-shadow: inset 0px -55px 30px -40px rgba(0,0,0,0.4);}



/* HEADER 
------------- */ 
.header{height:765px;background-color:#000;position:relative;border-bottom:10px solid #b5121b;background-image:url("../images/header-bg.jpg");}
.header .title{width:780px;margin: 0 auto 40px auto;padding-top:150px;}
.header .feat-content{width:885px;margin: 0 auto 40px auto;}
.header h1, .header h5, .header .vert-line {display:inline-block; color:#fff; vertical-align: middle;}
.header .vert-line{width: 1px; height: 65px;border-right:1px solid #b5121b;margin: 0 30px;}
.header h1{font-family:"Tungsten A", "Tungsten B"; font-style: normal; font-weight: 700; font-size:85px;padding:0; text-transform:uppercase; letter-spacing: 4px;}
.header h5{font-family:"Tungsten A", "Tungsten B"; font-style: normal; font-weight: 400; font-size:30px; text-transform: uppercase; letter-spacing: 2px; }
.header h5 strong{font-family:"Tungsten A", "Tungsten B"; font-style: normal; font-weight: 500;}
.header .sponsors{position:absolute;width:100%; left:0;height:100px;background-color:rgba(0,0,0,0.5);}
.header .sponsors .container{width:400px;}
.header p, .header img{display: inline-block; vertical-align: middle;}
.header img.mobile{display:none;}
.header p{font-family: "klavika-web",sans-serif;font-size:18px; text-transform:uppercase; margin-right: 5px;line-height: 100px;}
.header .sponsors img{height: 85px;padding-top:7px;}

/* Email 
----------- */
.email-subscribe{background-color:#fff;padding: 50px 0 50px 0;text-align:center;}
.email-subscribe p{color:#000;font-family:	"klavika-web-condensed",sans-serif; font-size:36px;font-weight:300;letter-spacing:3px;text-align: center;margin-bottom:20px;}
.email-subscribe form{margin:30px 0;}
.email-subscribe input[placeholder]{color:#454545;opacity:1;}
.email-subscribe input[type="text"]{border:none; background-color:#d1d1d1; color:#454545; padding:15px;width:240px;margin-right:25px;font-size:16px;font-weight:600;letter-spacing:1px;}
.email-subscribe input[name=submit]{background-color: transparent;padding: 12px 40px; color:#ff000e; border:3px solid #ff000e; font-family:"klavika-web", sans-serif; font-weight:600; font-size:16px; letter-spacing: 2px; transition:background-color 0.5s ease-in-out, color 0.5s ease-in-out;cursor:pointer;}
.email-subscribe input[name=submit]:hover{background-color:#ff000e;color:#fff;}

/* EPISODES 
----------- */ 
.episodes{background-image:url("../images/episodes-bg.jpg");height:740px;width:100%;background-position: left top;border-bottom: 10px solid #000;
}
.episodes .container{padding:100px 0; width: 100%;}
.episodes .feat-img{background-color:#000;width:270px;height:160px;}
.episodes h2{font-family: "klavika-web-condensed",sans-serif; font-size:50px; text-transform:uppercase; font-weight: 300; letter-spacing: 4px;text-align: center;margin-bottom:50px; color:#fff;padding-top:0;}
.episode a{display:block;color:#fff;text-decoration: none;}
.episode h4{text-align: center; line-height:160px;font-family:"Tungsten A", "Tungsten B";font-style: normal; font-weight: 500;font-size:44px;letter-spacing: 4px;}
.episode h6{font-family: "klavika-web-condensed",sans-serif; font-size:16px; font-weight:500; letter-spacing:2px;text-transform: uppercase;}
.episode h6 span{color:#f1020d;}
.episode .feat-img{
		background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
	margin-bottom:15px; -webkit-box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.4);
	transition:background 0.3s ease-in-out, transform 0.5s ease-in-out;
	transform-origin: center center;
}
/*
.episode .hover-effect1 h4{opacity:1;transition:opacity 0.3s ease-in-out;}
.episode .hover-effect1:hover h4{opacity:0;}
*/
/*
.hover-effect1{transition: transform 0.5s ease-in-out;transform-origin: center center;}
.hover-effect1:hover{transform:scale(1.12);}
*/

#trlr{background-image:url("../images/trlr-hover.jpg");}
#ep-1{background-image:url("../images/ep-1.jpg");}
#ep-2{background-image:url("../images/ep-2.jpg");}
#ep-3{background-image:url("../images/ep-3.jpg");}
#ep-4{background-image:url("../images/ep-4.jpg");}
#ep-5{background-image:url("../images/ep-5.jpg");}


/*
AS VIDEOS ARE APPROVED SWAP THESE BACKGROUND IMAGES WITH THE 

#ep-1:hover{background-image:url("../images/ep-1-hover.jpg");}
#ep-2:hover{background-image:url("../images/ep-2-hover.jpg");}
#ep-3:hover{background-image:url("../images/ep-3-hover.jpg");}
#ep-4:hover{background-image:url("../images/ep-4-hover.jpg");}
#ep-5:hover{background-image:url("../images/ep-5-hover.jpg");}
*/



/* ROSTER 
--------- */ 
.roster .container{width:940px !important;}
.roster{background-image:url("../images/roster-bg.jpg");height:890px; width:100%; background-position:left top;}
.roster h2{
	color: white;
	padding-bottom: 30px;
	padding-left: 8px;
	font-family: "klavika-web-condensed",sans-serif; font-size:50px; text-transform:uppercase; font-weight: 300; letter-spacing: 4px;text-align: center;margin-bottom:50px;
	width: 232px;
	
}
.roster span{
	display: inline-block;
	position: relative;
}
.roster span:before{
	right: 100%;
	margin-right:15px;
}
.roster span:after{
	left: 100%;
	margin-left: 15px;
}
.roster span:before,
.roster span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  top: 0;
  width: 300px;
  padding-top: 74px;
}
.roster h6{font-family: "klavika-web-condensed",sans-serif;font-weight:300;font-size:19px;color:#ff000e;text-transform:uppercase;letter-spacing:1px;margin-bottom:20px;}
.roster ul li{font-family: "klavika-web-condensed",sans-serif;font-weight:300;font-size:19px;color:#ffffff;text-transform:uppercase;letter-spacing:1px;margin-bottom:15px;}

.cycle-slideshow img{width:100%; height:auto;}

.accordion-toggle{color:#fff; background-color:#000;background-image: url("../images/dropdown.png");background-repeat: no-repeat; background-position: right 20px center;}



/* MEDIA QUERIES 
---------------------------------------------- */
@media only screen and (min-width:1281px){
	.scrolling .container, .episodes .container{width:1185px;}
}
@media only screen and (max-width:1280px){ 
	.scrolling .container img{ margin-left:auto !important;}
}
@media only screen and (max-width:1024px){ 
	.mobile{display:block !important;}
	.roster .grid.mobile{display:none !important;}
	.mobile-hide{display:none !important;}
	
	.header{height:1375px; }
	.header h1, .header h5, .header .logo, .header .feat-content a {display:block;}
	.header hr{width: 340px;border-color:#ff000e;margin:20px auto;}
	.header h1, .header hr, .header h5{text-align: center;}
	.header h1{margin-top:20px;}
	.header h5{line-height: 36px;}
	.header .logo{width:280px !important;height:auto;margin: 0 auto 40px;}
	.header .feat-content a img{width: 100%;display:block;}
	.header .feat-content a{width: 768px;height:auto;margin: 15px auto 0 ;}
	.header .sponsors img{width: 145px !important; height:auto;}
	.header .sponsors .container{width: 400px !important; float:none;}
	
	.email-subscribe .container{float:none;}
}
@media only screen and (max-width:960px){ 
	.grid .col-3{width:49.5%;}
	.episodes .container .grid{width:768px;margin: 0 auto;}
	.episodes{height:1020px;}
	.roster .container{width:768px !important;margin:0 auto;float:none;}
}
@media only screen and (max-width:940px){ 
	.roster {height: auto; padding-bottom: 100px;}
	.roster ul li{padding-left: 20px;}
	.roster .grid.desktop{display:none;}
	.roster .grid.mobile{display:block !important;}
	.roster h6{padding: 20px;font-weight: 500; letter-spacing: 3px;color:#fff;}
	.roster span:before, .roster span:after{width:100px;}
	.header .title{width:560px;}
	.header .feat-content {width: 560px;}
	.header .feat-content a{width:560px;}
	.header {height:1191px;}
}
@media only screen and (max-width:860px){ 
	.col-3 .wrap, .episode .feat-img{width:240px;}
	.episodes .feat-img h4{font-size:32px;}
	.episodes .container .grid{width:560px;margin: 0 auto;}
	.roster span:before, .roster span:after{width:100px;}
	.roster .container {width: 560px !important;}
}
@media only screen and (max-width:640px){ 
	.roster .grid.desktop{display:none;}
	.roster .grid.mobile{display:block;}
	.header .title{width:300px;}
	.header .feat-content {width: 300px;}
	.header .feat-content a{width:300px;}
	.header .logo{width:200px !important;}
	.header h1{font-size:65px;}
	.header h5{font-size:24px;}
	.header hr{width:300px;}
	.header .feat-content a{margin-top: 30px;}
	.header {height:933px;}
	.email-subscribe p{line-height:40px;max-width:360px;font-size:32px;width:90%;margin: 0 auto 20px;}
	#email-subscription input{width:80%;margin:0 auto;}
	#email-subscription input[type="text"]{margin-bottom:20px;text-align: center;}
	
	.col-3 .wrap, .episode .feat-img{width:200px;}
	.episodes .feat-img h4{font-size:26px;}
	.episodes .container .grid{width:480px;margin: 0 auto;}
	
	.roster .container{width:460px !important;margin:0 auto;float:none;}
	.roster span:before, .roster span:after{width:60px;}
}
@media only screen and (max-width:480px){
	 .grid .col-3{width:100%;}
	 .episodes .container .grid{width:90%;margin: 0 auto;}
	.header {height:1021px;}
	.header .sponsors p{width:100%;line-height: 100px;}
	.header .sponsors {height: 180px;text-align: center;}
	.header .sponsors img{padding-top:0;margin-top:-20px;}
	.header .sponsors .container{width: 100%;}
	.col-3 .wrap, .episode .feat-img{width:90%;margin-right: auto;margin-left:auto;}
	.episode h6{width:90%; margin-right: auto;margin-left:auto;}
	.episodes .feat-img h4{font-size:26px;}
	
	.episodes{height: 1700px;}
	
	.roster .container{width:300px !important;}
	.roster span:before, .roster span:after{width:30px;}
}

/**** DEALER SPECIFIC ****/
/* DEALER MOBILE STICKY NAV 
---------------------------------------------- */
.mobile-sticky {
    position: fixed;
    z-index: 9999999999;
    display: none;
    padding: 0px;
}
.mobile-sticky ul{
    display: block;
    position: relative;
    width: 100%;
    opacity: 1;
    float: none;
    left: initial;
    background: rgba(0, 0, 0, 0.88);
    color: white !important;
    top: -4px;
    display:none;
    overflow: auto;
}
.mobile-sticky li {
	display: block;
    background: none;
    padding:10px 0px 10px 20px !important;
    float: none;
    border: none;
}
.mobile-sticky a{
	color: white;
}
.mobile-sticky a:hover{
	color: #00aeef;
	text-decoration: none;
	cursor: pointer;
}
.mobile-sticky .hamburger{
	width: initial;
    position: absolute;
    right: 0%;
    top: 0px;
	height: 92% !important;
}
.mobile-sticky .hamburger:hover{
	cursor: pointer;
}
.mobile-sticky .close{
	width: initial;
    position: absolute;
    right: 0%;
    top: 0px;
	height: 12.2vw !important;
	display:none;
}
.mobile-sticky .close:hover{
	cursor: pointer;
}
.mobile-sticky .double li{
    display: block;
    background: none;
	padding: 0px !important;
    border: none;
    display: inline-block;
    text-align: center;
    width: 49%;
    float: left;
    padding: 20px 0px !important;
    font-size: 25px;
    font-family: "Tungsten A", "Tungsten B"
}
.mobile-sticky .double li:first-child{
	border-right: 1px solid gray
}
.mobile-sticky .main {
	overflow: auto;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 15px 0px;
}
.mobile-sticky .main li{
	text-align: center;
	font-size: 35px;
	font-family: "Tungsten A", "Tungsten B";
}
.mobile-sticky .final {
	padding: 15px 0px;
	border-top:1px solid gray;
}
.mobile-sticky .final li {
	text-align: center;
	font-size: 35px;
	font-family: "Tungsten A", "Tungsten B";
}
.mobile-sticky .final li a{
	/* color: #454545; */
	color: #fff;
}
.mobile-sticky .final li a:hover{
	color: white;
	cursor: pointer;
}
/* DEALER SIDE NAV in HEADER 
---------------------------------------------- */
.header .side-nav{
	position: fixed;
	right:-60px;
	top:350px;
	z-index: 400;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.header .side-nav .logo{    
	display: block !important;
    width: 204px;
    margin: 25px auto;
}
.header .side-nav a{
	font-family: "Tungsten A", "Tungsten B";
	font-size: 24px;
	letter-spacing: 1.5px;
	transition: background 0.35s ease-in-out, border 0.35s ease-in-out;
}
.header .side-nav a:first-child{
	background: #00AEEF;
	border: 2px solid #00AEEF;
	color: white;
	padding: 9px 11px;
}
.header .side-nav a:nth-child(2){
	background: #00AEEF;
	border: 2px solid #00AEEF;
	padding: 9px 11px;
	color:white;
	margin: 0px 15px;
}
.header .side-nav a:last-child{
	background: #00AEEF;
	border: 2px solid #00AEEF;
	padding: 9px 11px;
	color:white;
}
.header .side-nav a:hover{
	text-decoration: none;
	border: 2px solid white;
	color: white;
	background: none;
}
@media only screen and (max-width:1024px){ 
	.header .side-nav {
		display: none;
	}
}
@media only screen and (max-width: 600px){
	.mobile-sticky{
        display: block;
    }
  }
@media only screen and (max-width: 420px){    
.mobile-sticky .main li {
        font-size: 26px;
    }
}


/* MODAL
---------------------------------------------- */
.modalDialog {
    position: fixed;
    font-size: 20px;
	font-family: "Tungsten A", "Tungsten B";
	letter-spacing: 1px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog .logo{
	padding-bottom: 20px;
	padding-top: 10px;
}
.modalDialog .divider{
	width: 250px !important;
    padding-bottom: 16px;
    display:block;
}
.modalDialog p{
	padding-bottom: 20px;
}
.modalDialog > div {
    width: 290px;
    position: relative;
    margin: 10% auto;
    padding: 2%;
    padding-bottom: 60px;
    background: #606061;
    -webkit-box-shadow: 0px 0px 28px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 28px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 28px 5px rgba(0,0,0,0.75);
}
.modalDialog h2{
	padding: 0 0 20px 0 !important;
    font-size: 2em;
    color: white;
}
.close-modal {
	background: #00aeef;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    left: 0px;
    text-align: center;
    bottom: -0px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 50px;
}
.close-modal:hover {
    background: #3a3a3a;
    text-decoration: none;
}
.close-modal img{
	padding-top: 17px;
}
#openModalBuy > div {
	width: 500px;
}
.modal-buy-title{
	font-size:30px;
}
.modal-buy-title span{
	color:#00aeef;
}

/*
#openModalBuy .col{
	width:30%;
	margin:35px 0px;
	display:inline-block;
}
#openModalBuy .central{
	padding:0px 4%;
}
*/
.header #openModalBuy p{ 
	line-height: 20px;
}
#openModalBuy .col{
	width:49%;
	margin:35px 0px;
	display:inline-block;
}
/* reverse above*/

#openModalBuy .col img{
	width: 99px !important;
    margin: 0 auto;
    padding-bottom:25px;
}
#openModalBuy .pushed {
	padding-bottom:48px !important;
}
#openModalBuy .col a{
    background: #00AEEF;
    border: 2px solid #00AEEF;
    padding: 9px 5px;
    color: white;
    font-family: "Tungsten A", "Tungsten B";
    font-size: 24px;
    letter-spacing: 1.5px;
    position: relative;
    margin: 0 auto;
    width: 85%;
    display: block;
    text-align: center;
    text-decoration: none;
}
#openModalBuy .col a:hover{
	background:none;
	border:2px solid white;
}
#openModalBuy h3{
	display:none;
}

@media only screen and (max-width:1024px){
	#openModalBuy .col img{
		margin: 0 auto !important;
	}
	.modalDialog > div {
		margin:47% auto;
	}
}
@media only screen and (max-width:600px){ 
		#openModalBuy .col {
		width:100%;
	}
	#openModalBuy .col a{
		width:50%;
	}
	#openModalBuy .central{
		padding:0px;
	}
	#openModalBuy > div {
		width:100%;
	}
	#openModalBuy .col {
		margin:5% 0px;
	}
	#openModalBuy .col a{
		font-size:16px;
	}
	#openModalBuy .pushed{
		padding-bottom:5% !important;
	}
	#openModalBuy h3{
		display:block;
		text-align: center;
		padding-bottom: 10px;
		font-size: 30px;
	}
	#openModalBuy .col img{
		display:none;
	}
	.modalDialog > div{
		padding:4%;
		padding-bottom:60px;
	}
	.modal-buy-title{
		font-size:22px;
	}
}

/* LIGHTBOX
---------------------------------------------- */
#html5-elem-box{
	background: black!important;
}
#html5-elem-wrap{
	background:black!important;
}
#html5-watermark{
	display: none!important;
}
div.pp_default .pp_nav .currentTextHolder{
	display: none;
}
.plus a{
	display:block !important;
}
.top a.pp_previous{
	display: none;
}
.top a.pp_next{
	display: none;
}